<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
                <div class="card__actions">
                    <a href="/products" class="btn">Please Go Pick Meal</a>
                </div>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                            <h1>Order - # <%= order._id %></h1>
                            <table id="cart-item-head">
                                <tr>
                                    <th>Meal</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Ordered by</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                        </table>
                        <table id="order-item-body">
                            <% order.products.forEach(p => { %> 
                                <%- console.log(p) %>
                                <tr>
                                    <td><h1><%= p.product.title %></h1></td>
                                    <td><h1><%= p.quantity %></h1></td>
                                    <td> <h1 id='item-total'>GH₵ <%= p.product.price * p.quantity %></h1></td>
                                    <td><h1><%= order.user.email %></h1></td>
                                    <td><h1>2020-12-13 12:00</h1></td>
                                <td class="status"> 
                                    <div class="form-control">
                                        <label for="status"></label>
                                        <select name="category" id="category">
                                            <option value="pending">Pending</option>
                                            <option value="all">Delivered</option>
                                            <option value="cancelled">Cancelled</option>
                                        </select>
                                    </div>
                                </td>
                                </tr>
                                
                            <% }) %>
                    </table>
                </li>
                    <% }); %>
                </ul>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>
                  
            <% } %>
          
        </main>
        <%- include('../includes/footer.ejs') %>
        <script src="/js/order.js"></script>